/* firetracer */

img.brand{
    width: 50px;
    height: auto;
}

code, pre{
    background: #333;
    color: #fff;
    padding: 10px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.btn-embed-api{
    position: absolute;
    right: 5px;
}

#datas .data{
    border: solid 1px #1f1F1f;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    transition: all 0.3s ease;
    position: relative;
}

#datas .data p{
    margin-bottom: 0;
}

#datas .data span{
    font-weight: 700;
    font-size: 32px;
}

#datas .data button{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.2rem;
    background: #1f1f1f !important;
}

#datas .data:hover{
    color: #fff;
    background-color: #1f1F1f;
}

#datas .data:hover button{
    display: flex;
}

#iframe-data{
    transition: all 0.3s ease;
}
